*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Roboto,sans-serif;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0;
    width: 100%;
    height: 150px;
}
.logo{
    width: 200px;
    transition: all .4s ease-in-out;
}
.logo img{
    width: 100%;
    transition: all .4s ease-in-out;
}
.logo:hover >img{
    width: 105%;
}
.form-search {
    display: flex;
    align-items: center;
    gap: 15px;
}
.form-group {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border: 2px solid #424242;
    border-radius: 25px;
    transition: all .4s ease-in-out;
}
.form-group:hover {
    border-color: #b3e10c;
}
.form-group:hover > .icon-search{
    stroke: #b3e10c;
}
.input-search {
    font-family: inherit;
    font-size: 1rem;
    border: none;
    outline: none;
    width: 250px;
}
.icon-search {
    width: 20px;
    height: 20px;
    transition: all .4s ease-in-out;
}
.btn-search {
    background-color: #51c4e7;
}

.btn {
    font-family: inherit;
    color: #141313;
    padding: 15px 25px;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    letter-spacing: 2px;
    transition: all .5s linear;
    font-weight: 500;
}
.btn-search:hover {
    background-color: #b3e10c;
    color: #f2f2f2;
}
.container-filter {
    display: flex;
    margin-bottom: 20px;
}
.icon-filter {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.icon {
    width: 20px;
    height: 20px;
}
.icon-filter {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.card-list-character {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.card-character {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    color: #424242;
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition:all .4s ease-in-out;
    padding: .5rem;
    box-shadow: 0 0 10px #424242a1;
    border-radius: 15px;
}
.card-character:hover {
    box-shadow: 0 0 20px #b3e10c;
    width: 101%;
}
.card-character:hover >.character-info >.character-types>.group-type {
    background-color: #f2f2f2;
}
.card-character:hover>.character-img>img {
    width: 105%;
    height: 105%;
}
.character-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 100%;
    padding: 1rem;
    transition: all .4s ease-in-out;
}
.character-img img {
    width: 100%;
    height: 100%;
    transition: .5s linear;
}
.character-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    padding-bottom: 1rem;
}
.character-id {
    font-size: .9rem;
}
.text-capitalize {
    text-transform: capitalize;
}

.character-name {
    font-size: 1.5rem;
}
.character-types {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    font-size: .9rem;
    text-transform: capitalize;
    width: 100%;
    justify-content: center;
}
.group-type{
    display: flex;
    flex-direction: column;
    width: 40%;
    border-radius: 15px;
    align-items: center;
    padding: .2rem;
    background-color: #51c4e7;
    border:1px solid #b3e10c;
    transition: all .4s ease-in-out;
}
.type {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.3rem .5rem;
    border-radius: 0.3rem;
    width: 100%;
}
.container-pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    padding: 1rem 0;
    height: 80px;
}
.filter {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    top: 0;
    left: -300px;
    width: 210px;
    height: 100%;
    padding: 3rem 1rem;
    background-color: #e4e4e4;
    transition: all .3s linear;
}
.filter.active {
    left: 0px;
}

.filter-contenido {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    gap: 20px;
    justify-content: space-around;
}
.title-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
}
.title-icon span:hover {
    border-bottom: 2px solid #b3e10c;
    font-weight: 700;
}
.title-icon svg:hover {
    width: 30px;
    height: 30px;
    color: #b3e10c;
}
.title-icon span {
    font-size: 1.5rem;
    font-weight: 500;
    padding-left: 10px;
    transition: ease-in-out .2s;
}
.title-icon svg {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.contenido-types {
    display: flex;
    gap: 20px;
    font-weight: 300;
    padding: 1rem 0;
    width: 100%;
}
.btn-pagination{
    background-color: #b3e10c;
    transition: all .4s ease-in-out;
    border: none;
}
.btn-pagination:hover{
    background-color: transparent;
    border: 1px solid #b3e10c;
}

@media (max-width: 768px){
    .header {
        flex-direction: column;
    }
    .container{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .card-list-character {
        grid-template-columns: repeat(1,1fr);
        place-items: center;
    }
    .card-character{
        max-width: 300px;
    }
    .card-character:hover {
        box-shadow: 0 0 20px #b3e10c;
        width: 320px;
    }
    .btn-search{
        display: none;
    }
}
@media (min-width: 768px ) and (max-width:1050px){
    .container{
        margin-left:1rem;
        margin-right: 1rem;
    }
    .card-list-character {
        grid-template-columns: repeat(2,1fr);
        place-items: center;
    }
    .card-character{
        width: 90%;
    }
   
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0;
    width: 100%;
    height: 150px;
    margin-top: 1rem;
}
.footer a{
    width: 30%;
}
.footer-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.container-redes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 50px;
}
.container-redes a img:hover{
    width: 50px;
    height: 50px;
}
.footer-container p{
    max-width: 320px
}
.footer-container p:hover{
    font-weight: 600;
    color: #b3e10c;
}

